<div class="articles">
{{#each articles}}

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		<img class="articleImg img-fluid" src={{this.imgUrl}}>
	</div>

	<div class="col-md-6">
		<div class="row">
		<h4>{{this.title}}</h4>
		</div>
		<div class="row">
		{{this.excerpt}}
		</div>
		<div class="row">
		<a href=savedArticles class="btn btn-danger savedArticleBtn" data-id={{this._id}} onclick=modal('show')>Add Note</a>
		</div>
		<br>
		<br>
	</div>

	<div class="col-md-2">
	</div>
</div>
	
<br>

{{/each}}
<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="noteTitle" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="notes" class="modal-body">
      
      </div>
      <div class="modal-footer">
        <a type="sumbit" class="btn btn-primary">Save changes</a>
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
</div>
